.footer {
  display: flex;
  align-items: center;
  align-self: baseline;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 40px;
  padding: 10px;
  bottom: 0;
  background-color: #999999;
}
